<div *ngIf="podaci" id="city-input">
  <p><strong>OBLAST:</strong> {{ podaci.oblast }}</p>
  <p id="vreme"><strong>VREME:</strong> {{ podaci.vreme }} s</p>
  <form>
    <mat-form-field>
      <input #input type="text" name="city" placeholder="Unesi grad..." aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <p class="greska" *ngIf="greskaGrad">Unesite validnu vrednost. Polje je prazno ili je grad vec odabran.</p>
  <button id="btnDodaj" type="button" (click)="add(input)">Dodaj u listu</button>
</div>
