<div *ngIf="podaci" id="city-input">
  <p>OBLAST: {{ podaci.oblast }}</p>
  <p>VREME: {{ podaci.vreme }} s</p>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input #input type="text" name="City" placeholder="Input city..." aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button type="button" (click)="add(input)">Dodaj u listu</button>
  <button type="button">Zavrsi igru</button>
</div>
